
.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex > * {
    flex-grow: 1;
}

.flex > .flexchild_shrink {
    flex-shrink: 1;
    flex-grow: 0;
}

.flex > .flexchild_grow {
    flex-grow: 3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.pkstatsbox {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    overflow: hidden;
    margin: 3;
}

.pkstatsbox_bignumber button, .pkstatsbox_bignumber input {
    font-size: 28px;
}

.pkstatsbox .pktextfield {
    margin: 2;
}

.pkstatsbox button, .pkstatsbox input {
    text-align: center !important;
}

.pkskillfield {
    overflow-x: hidden;
}

.pkskillfield > * {
    display: inline-block;
}

.pkskillfield button, .pkskillfield input {
    text-align: center !important;
}

.pkswitch {

}

button.tri_inner {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-align: left;
    text-shadow: initial;
}

.tri_inner {
    margin: 5;
    padding: 0;

    width: 15px;
    height: 15px;
    border: 2px black solid;
}

.tri_inner.state0 {
    background-color: white;
}
.tri_inner.state1 {
    background-color: grey;
}
.tri_inner.state2 {
    background-color: orange;
}

.pkskillsfieldcontainer {
    padding: 5;
    margin: 5;
    border: 3px solid black;
}

.character_name {
    min-width: 160px;
}

.pktextfield {
    margin: 5;
    display: inline-block;
}

.pktextfield_label {
    font-size: 9px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.pktextfield_heading > .pktextfield_label {
    margin-left: 5px;
}

.pktextfield_heading > .pktextfield {
    width: calc(100% - 10px);
}

.pktextfield_container {
    display: grid;
    
    padding: 0;
    margin: 0;

    font-size: var(--joy-fontSize-md, 1rem);
    font-family: var(--joy-fontFamily-body);
    line-height: var(--joy-lineHeight-md, 1.5);

    min-width: 25px;
}

.pktextfield_container > * {

    padding: 0;
    margin: 0;

    grid-column: 1;
    grid-row: 1;

    border-bottom: 1px solid #ccc !important;

    width: 100%;
}

.pktextfield_container > input {
    background-color: rgba(0, 225, 255, 0.3);

    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.pktextfield_container > button {
    margin: 0;
    padding: 0;
    border: 0;

    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-align: left;
    text-shadow: initial;
}

.pktextfield_container > button:hover {
    color: var(--joy-palette-primary-500)
}

.invisible {
    visibility: hidden;
}
